.addproduct-div input{
    text-align: center;
    background-color:  Gainsboro;
    font: 600;
    font-weight: 800;
    height: 40px;
    border: solid;
    border-width: 2px 4px;
    border-radius: 40px;
}
.addproduct-div select{
    text-align: center;
    background-color:  Gainsboro;
    font: 600;
    font-weight: 800;
    height: 40px;
    border: solid;
    border-width: 2px 4px;
    border-radius: 40px;

}
.addproduct-div button{
    text-align: center;
    background-color: black;
    color: white;
    font: 600;
    font-weight: 800;
    height: 40px;
    border: solid;
    border-width: 2px 4px;
    border-radius: 40px;
    cursor: pointer;
}
.addproduct-div button:hover{
    background: green;
    color: black;
}