.login-container {
  background-image: url("https://assets-global.website-files.com/622488277ab5ee818d179d9f/64470ce140beed1a68a4bec7_626079f8351eb056e307319e_amberjack_r1_MSP_4296-scaled.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

.login-form input {
  text-align: center;
  background-color: #f0f0f0;
  font-weight: 600;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-bottom: 15px;
}

.login-buttons {
  display: flex;
  justify-content: center;
}

.login-span-btn,
.admin-link {
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.login-span-btn:hover,
.admin-link:hover {
  background-color: white;
  color: #333;
}

.register-link {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.register-link:hover {
  text-decoration: underline;
}
